.gradient-background {
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
    padding-top: 75px;
    padding-bottom: 75px;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ensures the image container takes up the full height of the column */
}

.verizon-logo {
    width: 600px; /* Adjust the width as needed */
    height: auto; /* Automatically adjusts the height while maintaining aspect ratio */
    padding-bottom: 30px;
}

@media (max-width: 767px) {
    .verizon-logo {
        width: 400px; /* Adjust the width as needed */
        height: auto; /* Automatically adjusts the height while maintaining aspect ratio */
        padding-bottom: 30px;
    }
}

.universal-font {
    font-family: 'Roboto', sans-serif;
}

.heading-text {
    font-family: 'Roboto', sans-serif;
    font-size: 100px;
}

#reviews {
    background-color: #f8f9fa;
    padding: 50px 0;
    text-align: center;
}

.review-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin: 20px;
}

.review-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.review-card p {
    font-size: 16px;
    color: #666666;
}

.author-info {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.author-info img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.author-info h4 {
    font-size: 18px;
    margin: 0;
}

.author-info p {
    font-size: 14px;
    color: #888888;
    margin: 0;
}

.rating {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.star {
    color: gold;
    font-size: 24px;
}

#reviews {
    background-color: #f8f9fa;
    padding-left: 200px;
    padding-right: 200px;
}

@media (max-width: 767px) {
    #reviews {
        padding-left: 10px;
        padding-right: 10px;
    }
}